* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
	background-color: #333;
  margin: 0;
  padding: 0;
}

img {
	min-width: 100px;
	height: 100px;
	object-fit: cover;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
	padding: 2rem;
	color: white;
}

h1 {
  font-size: 2rem;
}
header img {
	margin-top: 20px;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1200;
	margin: 2rem auto;
	padding: 2rem;
	background-color: #111;
}

section {
	flex: 1;
  margin: 1rem;
  padding: 1rem;
	border-radius: 5px;
	background-color: #222;
  border: 1px solid #444;
  color: white;
}

.band{
	display: flex;
	align-items: center;
	flex: 1;
	margin-bottom: 1rem;
}

.band img {
	width: 100px;
  height: 100px;
  margin-right: 1rem;
  object-fit: cover;
}
.band-info {
margin-bottom: 1rem;
}

aside {
	background-color: rgb(7, 7, 7);
	color: white;
	padding: 30px;
}

aside h2 {
	margin-bottom: 15px;
}

footer {
	padding: 10px;
	background-color: rgb(17, 17, 17);
	text-align: center;
	color: white;
}