*{
    margin: 0;
    padding: 0;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Três colunas de largura igual */
    grid-gap: 10px; /*Espaçamento entre as celulas da grade */
}
.esquerda{
        box-sizing: left;
        width: 20%;
    }

.direita{
    box-sizing: border-box;
    align-items: right;
    }

aside{
    display: grid;
    grid-template-columns: 1fr 1fr; /*Três colunas de largura igual */
    grid-gap: 10px; /*Espaçamento entre as celulas da grade */
    background-color: rgb(228, 167, 54);
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    color: rgb(0, 0, 0);
}
footer{
    background-color: rgb(134, 243, 192);
    padding: 25px;
    text-align: left;
}
.esquerda{
    text-align: left;
}