*{
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(134, 243, 192);
    padding: 30px;
    text-align: center;
    border: 2px solid;
    margin-bottom: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Três colunas de largura igual */
    grid-gap: px; /*Espaçamento entre as celulas da grade */
}
.grid-item{
    background-color: rgb(192, 191, 102);
    padding: 20px;
    text-align: center;
}
.grid-item1{
    background-color: rgb(228, 167, 54);
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 0.1px solid;
}
footer{
    background-color: rgb(134, 243, 192);
    padding: 25px;
    margin-top: 10Px;
    text-align: center;
    border: 2px solid;
}
