*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f3f3;
  margin: 0;
  padding: 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	padding: 1rem;
	color: rgb(0, 0, 0);

}

ul{
	margin-top: 4rem;
}
ul li {
    display: inline-flex;
    list-style-type: none;
    padding:2Rem;
    color: hsla(140, 26%, 87%, 0.719);
}

  li a{
    text-decoration: none;
	color: rgb(72, 65, 100);
	font-weight: bold;
	
}

ul li :hover{
    background-color: blue;
}

h1 {
  font-size: 2rem;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1200;
	margin: 1rem;
    background-color: hsl(0, 0%, 100%);
	padding:0px;
	background-color: rgb(106, 106, 230);
}

footer {
	padding: 10px;
	background-color: rgb(17, 17, 17);
	text-align: center;
	color: white;
}