.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #443cb9;
    color: white
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;

}

li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
body{
    background-color: rgb(137, 128, 161);
}
