:root {
  --cor-fundo-header: #000000;
  --cor-texto: white;
  --cor-fundo-footer: #000000;
  --cor-fundo-main: #8d0281;
  --cor-fundo-aside: #eae2b7;
  --padding-padrao: 20px;
  --cor-destaque: #e63946;
  --max-largura: 1270px;
  /* Largura máxima para o conteúdo */
}

html,
body {
  height: 100%;
  /* Faz com que a altura do body seja de no mínimo 100% da janela do navegador */
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: var(--cor-fundo-header);
  color: var(--cor-texto);
  padding: var(--padding-padrao);
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--cor-texto);
}

nav ul li a:hover {
  text-decoration: none;
  color: var(--cor-destaque);

}

main {
  flex: 1;
  /* Faz com que a main ocupe o espaço disponível, empurrando o footer para baixo */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: var(--padding-padrao);
  background-color: var(--cor-fundo-main);
  margin: 20px;
  /* Centraliza o conteúdo */
  max-width: var(--max-largura);
  /* Aplica a largura máxima */
}

section,
aside {
  flex: 1;
  padding: var(--padding-padrao);
  min-width: 300px;
  /* Garante que a section e o aside não fiquem muito estreitos */
}

aside {
  background-color: var(--cor-fundo-aside);
}

footer {
  background-color: var(--cor-fundo-footer);
  color: var(--cor-texto);
  text-align: center;
  padding: var(--padding-padrao);
  margin-top: auto;
  /* Garante que o footer fique na parte inferior */
}

@media (width > 1340px) {
  main {
    margin: 20px auto;
  }
}